{if $Request.controller != 'Login'}
	<div id="footer" class="footer">
		2017-2019 飞燕小程序技术支持
	</div>
{/if}
</div>
{js href="__ROOT__/public/assets/plugins/jquery/jquery-2.2.4.min.js" /}
{js href="__ROOT__/public/assets/plugins/jquery-ui/jquery-ui.min.js" /}
{js href="__ROOT__/public/assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js" /}
<!--[if lt IE 9]>
	<script src="../assets/crossbrowserjs/html5shiv.js"></script>
	<script src="../assets/crossbrowserjs/respond.min.js"></script>
	<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
{js href="__ROOT__/public/assets/plugins/slimscroll/jquery.slimscroll.min.js" /}
{js href="__ROOT__/public/assets/plugins/js-cookie/js.cookie.js" /}
{js href="__ROOT__/public/assets/js/theme/material.min.js" /}
{js href="__ROOT__/public/assets/js/apps.min.js" /}
<!-- ================== END BASE JS ================== -->
	
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
{js href="__ROOT__/public/assets/js/d3.min.js" /}
{js href="__ROOT__/public/assets/plugins/nvd3/build/nv.d3.js" /}
{js href="__ROOT__/public/assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js" /}
{js href="__ROOT__/public/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js" /}
{js href="__ROOT__/public/assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js" /}
{js href="__ROOT__/public/assets/plugins/gritter/js/jquery.gritter.js" /}

{js href="__ROOT__/public/assets/plugins/bootstrap-sweetalert/sweetalert.min.js" /}
{js href="__ROOT__/public/assets/plugins/drag-arrange.min.js" /}

<!-- ================== END PAGE LEVEL JS ================== -->

{js href="__ROOT__/public/assets/plugins/dropzone/dropzone.js" /}
{js href="__ROOT__/public/assets/plugins/moment/moment.min.js" /}
{js href="__ROOT__/public/assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js" /}

</body>
</html>