<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>信息管理平台{$title ? '-'.$title : ''}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- Vendor styles -->
    {css href="__ROOT__/public/assets/plugins/jquery-ui/jquery-ui.min.css" /}
    {css href="__ROOT__/public/assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" /}
    {css href="__ROOT__/public/assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" /}
    {css href="__ROOT__/public/assets/plugins/animate/animate.min.css" /}
    {css href="__ROOT__/public/assets/css/material/style.css" /}
    {css href="__ROOT__/public/assets/css/material/style-responsive.min.css" /}
    {css href="__ROOT__/public/assets/css/material/theme/default.css" /}
    <!-- ================== END BASE CSS STYLE ================== -->
    
    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    {css href="__ROOT__/public/assets/plugins/jquery-jvectormap/jquery-jvectormap.css" /}
    {css href="__ROOT__/public/assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css" /}
    {css href="__ROOT__/public/assets/plugins/gritter/css/jquery.gritter.css" /}
    {css href="__ROOT__/public/assets/plugins/nvd3/build/nv.d3.css" /}
    {css href="__ROOT__/public/assets/plugins/bootstrap-sweetalert/sweetalert.css" /}
    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    

    {css href="__ROOT__/public/assets/plugins/jstree/dist/themes/default/style.min.css" /}

    <!-- ================== BEGIN BASE JS ================== -->
    {js href="__ROOT__/public/assets/plugins/pace/pace.min.js"/}

    {css href="__ROOT__/public/assets/plugins/dropzone/min/dropzone.min.css"/}

    {css href="__ROOT__/public/assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css" /}
<body>

