{include file="common/header" /}
{include file="common/menu" /}

<div id="content" class="content">
    <ol class="breadcrumb pull-right">
    	<li class="breadcrumb-item"><a href="javascript:;">管理后台</a></li>
    	<li class="breadcrumb-item active">订单管理</li>
  	</ol>
	<h1 class="page-header">订单管理</h1>

    <div class="panel panel-inverse" data-sortable-id="table-basic-2">
        <div class="panel-body" style="padding-bottom: 3px">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <label class="col-sm-1 control-label">订单号</label>
                            <div class="col-sm-4">
                                {$model.sn}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-1 control-label">订单状态</label>
                            <div class="col-sm-4">
                                {$model.status_text}
                            </div>
                        </div>
                    </div>  

                    <div class="panel-heading">
                       
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <label class="col-sm-1 control-label">收件人</label>
                            <div class="col-sm-4">
                                {$model.comments.name}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-1 control-label">电话</label>
                            <div class="col-sm-4">
                                {$model.comments.tel}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-1 control-label">收货地址</label>
                            <div class="col-sm-4">
                                {$model.comments.address}
                            </div>
                        </div>
                    </div>  

                    <div class="panel-heading">
                       
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <label class="col-sm-1 control-label">快递名称</label>
                                <div class="col-sm-4">
                                    {$model.comments.expressname}
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-1 control-label">快递单号</label>
                                <div class="col-sm-4">
                                    {$model.comments.expressnum}
                                </div>
                            </div>
                        </div>  
                    <div class="panel-heading">
                       
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- 订单状态 1已支付，2已发货，3已归还，4申请退款，5已退款 -->
                                <a href="javascript:void(0);" class="btn btn-primary" data-toggle="modal" data-target="#addExpress" data-id="" data-status="2">订单发货</a>  

                                <!-- <a href="javascript:void(0);" class="btn btn-primary action-prompt" data-toggle="modal" data-id="{$model.sn}" data-status="5">已退款</a>

                                <a href="javascript:void(0);" class="btn btn-primary action-prompt" data-toggle="modal" data-id="{$model.sn}" data-status="6">驳回退款申请</a> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addExpress" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="top:200px;">
        
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    添加运单号
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="sn" value="{$model.sn}">
                <div class="form-group row m-b-15">
                    <label class="col-form-label col-md-2">快递名称</label>
                    <div class="col-md-10">
                        <input type="text" name="expressname" class="form-control m-b-5" placeholder="快递名称" id="expressname">
                        <ul class="parsley-errors-list filled" id="noneNameTips" style="display: none;"><li class="parsley-required">快递名称</li></ul>
                    </div>
                </div>
                <div class="form-group row m-b-15">
                    <label class="col-form-label col-md-2">快递单号</label>
                    <div class="col-md-10">
                        <input type="text" name="expressnum" class="form-control m-b-5" placeholder="快递单号" id="expressnum">
                        <ul class="parsley-errors-list filled" id="noneNumTips" style="display: none;"><li class="parsley-required">快递单号</li></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addExpress()">提交</button>
            </div>
        </div>
    </div>

{include file="common/footer" /}
<script type="text/javascript">

    $('.action-prompt').click(function(){
        var sn = $(this).data('id');
        var status = $(this).data('status');
        swal({ 
            title: "确认要执行该操作吗？",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确认",
            cancelButtonText: "取消"
        }, function() { 
            
            $.post('__ROOT__/admincp/order/changeStatus', {sn:sn, status:status}, function(msg){
                var msg = JSON.parse(msg);
                    if(!msg['error']) {
                        swal({'title':'操作成功', 'type':'success'}, function() {
                            window.location.reload();
                        });
                    } else {
                        swal(msg.error, "", "warning");
                    }
            })
        });
        
    })

    function addExpress() {
        var name = $("#expressname").val();
        var num = $("#expressnum").val();
        var sn  = $("#sn").val();
        if(!name) {
        	$('#noneNameTips').show();
        	return;
        }
        if(!num) {
        	$('#noneNumTips').show();
        	return;
        }

        $.ajax({
            url:'__ROOT__/admincp/order/addExpress',
            type:'POST',
            data: {
                sn: sn,
                name: name,
                num:num
            },  
            success: function(msg) {
            	$('#addExpress').modal('hide');
            	var msg = JSON.parse(msg);
                if(!msg['error']) {
                    swal({'title':'添加成功', 'type':'success'}, function() {
                        window.location.reload();
                    });
                } else {
                    swal(msg.error, "", "warning");
                }
            }
        });
    };
</script>